html{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #9C999D

}

h1 {
  font-size: 60px;
  font-family: 'Lacquer', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #9C999D;
  text-shadow: 3px 3px 1px black;
}

  h2{
    font-size: 30px;
    font-family: 'Sriracha', sans-serif;
    text-align: center;
  }

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color:#7CDEC5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}
